*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f5f4f4;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}
.nav {
    background-color: white;
    height: 10vh;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
 }
.navLeft {
    display:flex;
    gap: 20px;
    height: inherit;
}
.navRight {
    height: inherit;
}
.link {
    display:flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: black;
    cursor:pointer;
    border-bottom: 2px solid white;
    transition: 0.3s ease-in-out;
}
.link:hover {
    border-bottom: 2px solid grey;
    color: grey;
}
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 40vw;
    gap:20px;
    text-align: center;
}

input, button {
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
button:hover {
    background-color: darkgray;
    cursor: pointer;
}
.error {
    color: red;
}
img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.userPage {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}
.form {
    display: flex;
    gap:5px;
}
.postsCont {
    height: 80vh;
    width: 50vw;
}
.posts {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    margin-top: 20px;
}
.singlePost {
    border:1px solid lightgrey;
    background-color: #f3f0f0;
    width: 45%;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.singlePost img {
   width: 100%;
    border-radius: 0;
    object-fit: contain;
}
.singlePost button {
    background-color: white;
}
.singlePost button:hover {
    background-color: grey;
}