*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #e8e6e6;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 40vw;
    gap:10px;
    text-align: center;
}

input, button {
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
button:hover {
    background-color: darkgray;
    cursor: pointer;
}
.error {
    color: red;
}
img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.userPage {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}
.form {
    display: flex;
    gap:5px;
}
.postsCont {
    height: 90vh;
    width: 50vw;
}
.posts {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: space-between;
    margin-top: 20px;
}
.singlePost {
    border:1px solid lightgrey;
    background-color: #f3f0f0;
    width: 45%;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
}